.bg-custom {
    background-color: #2c3e50;
}
.light-blue{
    background-color: #2c94d9 !important;
    color: white !important;
}
.btn-custom{
    background-color: #2c3e50 !important;
    color: white !important;
}
.btn-custom:hover {
    opacity: 90%;
}
.btn-custom-blue{
    background-color: #3498db  !important;
    color: white !important;
}
.btn-custom-blue:hover {
    opacity: 90%;
}
.bg-light-blue-subtle {
    background-color: #3498db1A !important;
}
.link-custom{
    color: #3498db !important;
}
.link-custom:hover{
    opacity: 90%;
}
.custom-left-border {
    border-left: 5px solid #3498db !important;
  }
.text-custom{
    color: #3498db !important;
}